body{
   background-color: rgb(10, 236, 161); 
   margin:0%;
   padding:0%;
}
#heading{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 5px 5px 10px white;

}
img{
   height: 250px;
   width: 25%;
   margin-left: 37%;
}
#about{
color: aliceblue;
font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#small{
    width: 500px;
    margin-left: 34%;
}
#data{
    margin-left: 17%;
    margin-right: 17%;
    margin-top: 30px;
    box-shadow: 10px 20px 20px  rgb(66, 209, 102);
    background-color: rgb(10, 277, 160);
    /*box-shadow: 20px 20px 20px #98FB98;*/

    
}
#content{
    padding:3px;
    font-weight: 100;
    font-size:20px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#legend{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: brown;
    font-size: 40px;
}
a{
    text-decoration: none;
}
#footer{
    margin-left: 17%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}